:host {
  display: flex;
  min-width: 0;
}

:host(.spacer-flex) {
  flex: 1 1 auto;
}

:host(.spacer-fixed) {
  flex: 0 0 auto;
}

.spacer {
  display: block;
  width: 100%;
  min-width: 0;
  pointer-events: none;
}

:host(.spacer-fixed) .spacer {
  width: var(--le-toolbar-spacer-width);
  min-width: var(--le-toolbar-spacer-width);
  max-width: var(--le-toolbar-spacer-width);
}
