:host {
  display: flex;
  min-width: 0;
  --le-toolbar-spacer-inner-margin: var(--le-toolbar-item-inner-margin, 0px);
  margin-inline: var(--le-toolbar-spacer-inner-margin);
}

:host(.spacer-flex) {
  flex: 1 1 auto;
}

:host(.spacer-fixed) {
  flex: 0 0 auto;
}

le-visibility {
  display: inline-flex;
  min-width: 0;
}

:host([visibility='collapsed']),
:host([visibility='collapsing']) {
  margin-inline: 0 !important;
}

.spacer {
  display: block;
  width: 100%;
  min-width: 0;
  pointer-events: none;
}
