:host {
  display: inline-block;

  width: var(--le-icon-size);
  height: var(--le-icon-size);

  color: var(--le-icon-color, var(--le-color-text-primary));
}

:host svg {
  flex-shrink: 0;
  display: block;
  fill: currentColor;

  transition: var(--le-icon-transition);
  transform: var(--le-icon-transform);
}