/**
 * le-box admin mode styles
 */

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]) {
  display: none;
}

.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 40px;
}

.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--le-box-bg, transparent);
  border-radius: var(--le-box-border-radius, 0);
  padding: var(--le-box-padding, 0);
  min-height: 40px;
}

:host(.display-flex) .content {
  min-height: 100%;
}
