---
import ComponentsPage from "../../layouts/ComponentsPage.astro";
---

<ComponentsPage title="le-select">
  <h1>&lt;le-select&gt;</h1>
  <p>A flexible select component with multiple variants and states.</p>

  <div class="example">
    <le-select label="Choose an option">
      <le-item value="option1" label="Option 1"></le-item>
      <le-item value="option2" label="Option 2"></le-item>
      <le-item value="option3" label="Option 3"></le-item>
    </le-select>
  </div>
</ComponentsPage>