---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Blog - le-kit">
	<main style="max-width: 1200px; margin: 2rem auto; padding: 0 1rem;">
		<le-text typography="h1">Blog</le-text>
		<le-text typography="body-large">Read about the development of le-kit.</le-text>
	</main>
</Layout>
