:host {
  display: inline-flex;
  min-width: 0;
}

.title {
  font: inherit;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--le-current-heading-color, var(--le-color-text-primary));
}
